#callback.popup
  .popup__title ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
  form
    input.popup__item(placeholder='Ваше имя')
    input.popup__item(placeholder='Номер телефона' type='tel')
    input.popup__item(placeholder='Ваш e-mail')
    .popup__bottom
      .popup__note Заполняя данную форму вы принимаете условия соглашения об использовании сайта, в том числе в части обработки и использования персональных данных.
      button.popup__button ЗАКАЗАТЬ ЗВОНОК

    //https://yandex.ru/maps/-/CBFKV8a18B