.w.projectInfo
  table.projectInfo__info
    tbody
      tr
        td ГОД
        td 2018
      tr
        td РЕГИОН
        td 23123124
      tr
        td ГОРОД
        td СИМФЕРОПОЛЬ
      tr
        td ТИПОЛОГИЯ
        td ПОЛ
      tr
        td КОЛЛЕКЦИЯ
        td GENESIS

  .projectInfo__rest
    .projectInfo__share
      .projectInfo__share-title ПОДЕЛИТЬСЯ
      .projectInfo__share-icons
        a.projectInfo__share-icon.projectInfo__share-icon--vk(href='#')
        a.projectInfo__share-icon.projectInfo__share-icon--fb(href='#')
        a.projectInfo__share-icon.projectInfo__share-icon--tw(href='#')

    .projectInfo__text
      p Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.
      p Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.
      p Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.