form.callback
  .callback__title ОБРАТНАЯ СВЯЗЬ
  input.callback__item(placeholder='Предстватесь пожалуйста')
  input.callback__item(placeholder='Ваш e-mail')
  textarea.callback__item(placeholder='Ваще сообщение')
  .callback__bottom
    .callback__note Заполняя данную форму вы принимаете условия соглашения об использовании сайта, в том числе в части обработки и использования персональных данных.
    button.callback__button ОТПРАВИТЬ

    //https://yandex.ru/maps/-/CBFKV8a18B