.catalogContent
  &__sub
    display: flex
    font-weight: bold
    font-size: 11px
    align-items: center
    margin-bottom: 32px
    @media (max-width: $breakpoint-md - 1)
      display: none

  &__total
    margin-right: 64px

  &__available
    input
      margin-right: 20px

  &__sort
    margin-left: auto
    margin-right: 65px

    &-select
      &.selectize-control
        display: inline-block
        margin-left: 11px
        //border-bottom: 1px dashed #b9b9b9

      .selectize-input
        padding-right: 15px
        position: relative
        font-size: 12px
        font-weight: bold
        line-height: 1.2

        &:after
          content: ''
          display: block
          position: absolute
          top: 50%
          margin-top: -3px
          right: 2px
          background: url(../../images/sprite-arrow.svg)

        &.focus:after
          transform: rotate(180deg)

        .item
          display: inline-block
          vertical-align: middle

        > input
          display: none !important

      .selectize-dropdown
        position: absolute
        margin: 1px 0 0
        max-height: 300px
        overflow: auto
        z-index: 1
        cursor: pointer
        background: #fff
        width: auto !important

        .option
          padding: 5px 3px
          anim()
          &:hover
            background: #f0f0f0


  &__items
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin: -7px

    @media (max-width: $breakpoint-md - 1)
      flex-direction: column
      padding: 0 6px

  &__item
    width: 25%
    @media (max-width: $breakpoint-md - 1)
      width: auto
      margin-bottom: 20px

  &__content
    display: block
    margin: 7px
    background: #f6f6f6
    anim()

    &:hover
      box-shadow: 0 7px 30px 0 rgba(0,0,0,.5)

  &__image
    height: 236px
    background-size: cover
    background-position: 50% 50%
    display: block

  &__info
    padding: 33px 23px 27px

  &__name
    font-size: 16px
    font-weight: 900

  &__description
    font-size: 13px
    line-height: 1.6
    font-family: 'Gilroy', sans-serif
    margin-top: 12px

  &__price
    font-size: 18px
    font-weight: 900
    margin-top: 25px

  &__pagination
    display: flex
    justify-content: flex-end
    margin-top: 31px
    @media (max-width: $breakpoint-md - 1)
      justify-content: center