.catalogContent
  .catalogContent__sub
    .catalogContent__total НАЙДЕНО 576 ТОВАРОВ
    label.catalogContent__available
      input#available(type='checkbox')
      | ТОВАР В НАЛИЧИИ
    .catalogContent__sort
      | СОРТИРОВАТЬ:
      select.catalogContent__sort-select
        option(value='1') ПО НОВИЗНЕ
        option(value='2') ПО УБВАНИЮ ЦЕНЫ
        option(value='3') ПО ВОЗРАСТАНИЮ ЦЕНЫ
    include ../pagination/pagination

  .catalogContent__items
    each val in [1, 2, 3, 4, 5, 6, 7, 8 ]
      .catalogContent__item
        a.catalogContent__content(href='#')
          .catalogContent__image(style='background-image: url(https://source.unsplash.com/random/260x236?' + val + ');')
          .catalogContent__info
            .catalogContent__name MATERIA
            .catalogContent__description Керамогранит#[br]напольный
            .catalogContent__price от 3 530.–
  .catalogContent__pagination
    include ../pagination/pagination