.head(style='background-image: url(https://source.unsplash.com/random/500x319)')
  .w.head__container
    .head__title КАТАЛОГ
    .head__breadcrumbs
      include ../breadcrumbs/breadcrumbs
    .head__big-title — КЕРАМОГРАНИТ