.head
  .w.head__container
    .head__title КАТАЛОГ
    .head__breadcrumbs
      a.head__breadcrumb(href='#') ГЛАВНАЯ
      a.head__breadcrumb(href='#') КАТАЛОГ
      a.head__breadcrumb(href='#') КЕРАМОГРАНИТ
    .head__big-title — КЕРАМОГРАНИТ