.head
  background: #f0f0f0
  padding-top: 115px
  padding-bottom: 64px
  @media (max-width: $breakpoint-md - 1)
    padding-top: 0
    border-top: 66px solid #fff
    padding-bottom: 12px

  &__container
    position: relative
    flex-direction: column
    @media (max-width: $breakpoint-md - 1)
      padding-left: 15px

  &__title
    position: relative
    font-size: 36px
    font-weight: 900
    margin-top: 68px
    @media (max-width: $breakpoint-md - 1)
      font-size: 24px
      margin-top: 31px

    &:before
      content: ''
      display: block
      position: absolute
      height: 4px
      width: 71px
      right: 100%
      margin-right: 45px
      top: 13px
      background: #000
      @media (max-width: $breakpoint-md - 1)
        display: none

  &__breadcrumbs
    margin-top: 22px
    @media (max-width: $breakpoint-md - 1)
      display: none

  &__breadcrumb
    display: inline-block
    font-size: 11px
    font-weight: 900

    &:hover
      text-decoration: underline

    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      border: 2px solid #000
      width: 6px
      height: 6px
      margin: 0 14px

    &:first-child:before
      display: none

  &__big-title
    position: absolute
    right: 0
    font-size: 57px
    font-weight: 900
    top: 50%
    margin-top: -10px
    @media (max-width: $breakpoint-md - 1)
      display: none
