block html
doctype html
html
  head
    title Italon
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" media="all" href="style.css")
    //link(rel="shortcut icon" href="/favicon.ico")

  body(onunload="")
    block body
    include ../modules/footer/footer

    .hidden
      include ../modules/popup/popup-callback

  script.
    var GOOGLE_MAP_API_KEY = "AIzaSyAKCWqbAVy8AsekfYEuddPMtdb5xMpC9pk";
    var GOOGLE_MAP_CENTER = [53.189798, 45.039265];
  script(src='js/app.js')