.w
  display: flex
  margin-left: auto
  margin-right: auto
  padding: 0 10px
  max-width: $container-lg
  flex-direction: column
  @media (min-width: $breakpoint-sm)
    flex-direction: row


  //@media (min-width: $breakpoint-sm) and (max-width $breakpoint-md - 1)
  //  width: $container-sm
  //@media (min-width: $breakpoint-md) and (max-width $breakpoint-lg - 1)
  //  width: $container-md
  //@media (min-width: $breakpoint-lg)
  //  width: $container-lg
