// ====================================
// colors
// ====================================
$black        = #333333
$white        = #ffffff
$green        = #1CAF5E
$green-light  = #06C95E
// ====================================
// typography
// ====================================
//$font-size = 16px
//$line-height = remove-unit(24 / $font-size)

// ====================================
// grid settings
// ====================================
$cols-number = 12

$gutter = 30px
$gutter-half = ($gutter / 2)

$breakpoint-sm = 768px
$breakpoint-md = 992px
$breakpoint-lg = 1360px

$container-sm = 750px
$container-md = 960px
$container-lg = 1340px