.productSlider
  .productSlider__main
    .productSlider__main--slider
      .productSlider__main-slide(style='background-image: url(https://source.unsplash.com/gREquCUXQLI/570x500)')
      .productSlider__main-slide(data-src='https://source.unsplash.com/jn7uVeCdf6U/570x500')
      .productSlider__main-slide(data-src='https://source.unsplash.com/U-k6XLlml1I/570x500')
      .productSlider__main-slide(data-src='https://source.unsplash.com/dAAk8Aqd_-I/570x500')
      .productSlider__main-slide(data-src='https://source.unsplash.com/4HG3Ca3EzWw/570x500')
      .productSlider__main-slide(data-src='https://source.unsplash.com/tOVmshavtoo/570x500')
      .productSlider__main-slide(data-src='https://source.unsplash.com/RcdV8rnXSeE/570x500')

  .productSlider__thumbs
    .productSlider__thumbs--slider
      .productSlider__thumbs-slide(data-index='0'): img(src='https://source.unsplash.com/gREquCUXQLI/81x81' width='81' height='81')
      .productSlider__thumbs-slide(data-index='1'): img(src='https://source.unsplash.com/jn7uVeCdf6U/81x81' width='81' height='81')
      .productSlider__thumbs-slide(data-index='2'): img(src='https://source.unsplash.com/U-k6XLlml1I/81x81' width='81' height='81')
      .productSlider__thumbs-slide(data-index='3'): img(src='https://source.unsplash.com/dAAk8Aqd_-I/81x81' width='81' height='81')
      .productSlider__thumbs-slide(data-index='4'): img(src='https://source.unsplash.com/4HG3Ca3EzWw/81x81' width='81' height='81')
      .productSlider__thumbs-slide(data-index='5'): img(src='https://source.unsplash.com/tOVmshavtoo/81x81' width='81' height='81')
      .productSlider__thumbs-slide(data-index='6'): img(src='https://source.unsplash.com/RcdV8rnXSeE/81x81' width='81' height='81')

    .productSlider__nav
      button.productSlider__arrow.productSlider__arrow--next
      button.productSlider__arrow.productSlider__arrow--prev

  script.
    var CURRENT_SLIDER = 'default';
    var PRODUCT_SLIDERS = {
      default: [
        ['https://source.unsplash.com/gREquCUXQLI/570x500', 'https://source.unsplash.com/gREquCUXQLI/81x81'],
        ['https://source.unsplash.com/jn7uVeCdf6U/570x500','https://source.unsplash.com/jn7uVeCdf6U/81x81'],
        ['https://source.unsplash.com/U-k6XLlml1I/570x500','https://source.unsplash.com/U-k6XLlml1I/81x81'],
        ['https://source.unsplash.com/dAAk8Aqd_-I/570x500','https://source.unsplash.com/dAAk8Aqd_-I/81x81'],
        ['https://source.unsplash.com/4HG3Ca3EzWw/570x500','https://source.unsplash.com/4HG3Ca3EzWw/81x81'],
        ['https://source.unsplash.com/tOVmshavtoo/570x500','https://source.unsplash.com/tOVmshavtoo/81x81'],
        ['https://source.unsplash.com/RcdV8rnXSeE/570x500','https://source.unsplash.com/RcdV8rnXSeE/81x81']
      ],
      test1: [
        ['https://source.unsplash.com/gREquCUXQLI/570x500', 'https://source.unsplash.com/gREquCUXQLI/81x81'],
        // ['https://source.unsplash.com/jn7uVeCdf6U/570x500','https://source.unsplash.com/jn7uVeCdf6U/81x81'],
        // ['https://source.unsplash.com/U-k6XLlml1I/570x500','https://source.unsplash.com/U-k6XLlml1I/81x81']
      ],
      test2: [
        ['https://source.unsplash.com/4HG3Ca3EzWw/570x500', 'https://source.unsplash.com/4HG3Ca3EzWw/81x81'],
        ['https://source.unsplash.com/tOVmshavtoo/570x500', 'https://source.unsplash.com/tOVmshavtoo/81x81'],
        ['https://source.unsplash.com/RcdV8rnXSeE/570x500', 'https://source.unsplash.com/RcdV8rnXSeE/81x81']
      ]
    }