.productPrimary
  h1.productPrimary__title CHARME
  .productPrimary__field ЦВЕТА
  .productPrimary__colors
    .productPrimary__color.productPrimary__color--active(data-id='asd' data-width=320 data-height=240 data-preview='https://source.unsplash.com/random/320x240/?1'): img(src='https://source.unsplash.com/random/81x81?1' width=81 height=81)
    .productPrimary__color(data-id='test1' data-width=320 data-height=240 data-preview='https://source.unsplash.com/random/320x240/?2'): img(src='https://source.unsplash.com/random/81x81?2' width=81 height=81)
    .productPrimary__color(data-id='' data-width=320 data-height=240 data-preview='https://source.unsplash.com/random/320x240/?3'): img(src='https://source.unsplash.com/random/81x81?3' width=81 height=81)
    .productPrimary__color(data-id='test2' data-width=320 data-height=240 data-preview='https://source.unsplash.com/random/320x240/?4'): img(src='https://source.unsplash.com/random/81x81?4' width=81 height=81)
    .productPrimary__color(data-id='' data-width=320 data-height=240 data-preview='https://source.unsplash.com/random/320x240/?5'): img(src='https://source.unsplash.com/random/81x81?5' width=81 height=81)
    .productPrimary__color(data-id='' data-width=320 data-height=240 data-preview='https://source.unsplash.com/random/320x240/?6'): img(src='https://source.unsplash.com/random/81x81?6' width=81 height=81)
  .productPrimary__field
    .productPrimary__variants-name РАЗМЕР
    .productPrimary__variants
      .productPrimary__variant.productPrimary__variant--active 59x59
      .productPrimary__variant 30x60
      .productPrimary__variant 59x59
      .productPrimary__variant 30x60
  .productPrimary__field
    .productPrimary__variants-name ПОВЕРХНОСТЬ
    .productPrimary__variants
      .productPrimary__variant.productPrimary__variant--active НАТ.
      .productPrimary__variant ПАТ.
      .productPrimary__variant ЛЮКС
  .productPrimary__field
    .productPrimary__variants-name ТЕХ. ИНФОРМАЦИЯ
    .productPrimary__variants
      .productPrimary__variant.productPrimary__variant--active R9 A+B
      .productPrimary__variant VARIATION V3

  .productPrimary__sub
    .productPrimary__left
      .productPrimary__price 4 310.–
      a.productPrimary__info(href='#') ГДЕ КУПИТЬ
    button.productPrimary__buy В КОРЗИНУ

  script.
    function RECALC_PRICE($items) {
      return '100';
    }