.w.productInfo
  .productInfo__text
    h2 ЧЕРЕЗ НАСЛЕДИЕ ПРОШЛОГО К БУДУЩЕМУ
    p Коллекция Charme Extra интерпретирует интерьер, как диалог между наследием прошлого и будущим: неизменная сущность мрамора находит новое выражение в современных проектах. Через интерьеры, обладающие непревзойденным шармом, выражается новый стиль, подчеркивающий неформальный, но утонченный дух роскоши.
  .productInfo__links
    a.productInfo__link.productInfo__link--solutions(href='#') ИНТЕРЬЕРНЫЕ РЕШЕНИЯ
    a.productInfo__link.productInfo__link--catalog(href='#') СМОТРЕТЬ КАТАЛОГ
    a.productInfo__link.productInfo__link--video(href='#') ВИДЕО