.product
  padding-top: 115px
  @media (max-width: $breakpoint-md - 1)
    padding-top: 66px

  &__breadcrumbs
    text-align: center
    margin: 0 0 50px
    @media (max-width: $breakpoint-md - 1)
      display: none
