.product
  .product__breadcrumbs
    include ../breadcrumbs/breadcrumbs
  .w
    include ../productSlider/productSlider
    include ../productPrimary/productPrimary
  include ../productInfo/productInfo
  .w.product__secondary
    include ../productCharacteristics/productCharacteristics
    include ../productAnalogue/productAnalogue
  include ../productDecors/productDecors
