.catalogSidebar
  .catalogSidebar__header КАТЕГОРИИ
  a.catalogSidebar__title.catalogSidebar__title--active(href='#') КЕРАМОГАНИТ
  .catalogSidebar__category
    a.catalogSidebar__item.catalogSidebar__item--active(href='#') Все #[span.catalogSidebar__count 43]
    a.catalogSidebar__item(href='#') Керамогранит напольный #[span.catalogSidebar__count 43]
    a.catalogSidebar__item(href='#') Керамогранит настенный #[span.catalogSidebar__count 43]

  a.catalogSidebar__title.catalogSidebar__title--active(href='#') КОЛЛЕКЦИИ
  .catalogSidebar__category
    a.catalogSidebar__item(href='#') Charme #[span.catalogSidebar__count 43]
    a.catalogSidebar__item(href='#') Genesis #[span.catalogSidebar__count 43]
    a.catalogSidebar__item(href='#') Materia #[span.catalogSidebar__count 43]
    a.catalogSidebar__item(href='#') Charme #[span.catalogSidebar__count 43]
    a.catalogSidebar__item(href='#') Genesis #[span.catalogSidebar__count 43]
    a.catalogSidebar__item(href='#') Materia #[span.catalogSidebar__count 43]

  a.catalogSidebar__title(href='#') НАСТЕННАЯ ПЛИТКА

  .catalogSidebar__filters-button ФИЛЬТРЫ
  .catalogSidebar__filters
    .catalogSidebar__filters-close
    .catalogSidebar__header ФИЛЬТРЫ
    .catalogSidebar__title ЦЕНА
    .catalogSidebar__slider
    .catalogSidebar__slider-value

    a.catalogSidebar__title(href='#') ЦВЕТА
    a.catalogSidebar__title(href='#') РАЗМЕР
    a.catalogSidebar__title(href='#') ПОВЕРХНОСТЬ
