.frontCards
  a.frontCards__hint(href='#frontCards') ВНИЗ
  .w.frontCards__row#frontCards
    a.frontCards__card(href='#')
      .frontCards__image
        img(src='https://source.unsplash.com/random/371x187?1' width=371 height=187)
        .frontCards__label АКЦИИ
        .frontCards__special 50%
      .frontCards__content
        .frontCards__subtitle Настенная плитка
        .frontCards__title ELITE
        .frontCards__price от 2 310.–
    a.frontCards__card(href='#')
      .frontCards__image
        img(src='https://source.unsplash.com/random/371x187?2' width=371 height=187)
        .frontCards__label КОЛЛЕКЦИИ
      .frontCards__content
        .frontCards__subtitle Новая коллекция керамогранита
        .frontCards__title MATERIA
        .frontCards__price от 2 310.–
    a.frontCards__card(href='#')
      .frontCards__image
        img(src='https://source.unsplash.com/random/371x200?3' width=371 height=200)
        .frontCards__label РЕАЛИЗОВАННЫЕ ПРОЕКТЫ
      .frontCards__content
        .frontCards__title.frontCards__title--small ГЛАВНЫЙ ОФИС ЛУКОИЛ, МОСКВА
        .frontCards__text
          | Кермогранит #[b MATERIA]#[br]
          | Настенная плитка #[b ELITE]
  .w.frontCards__row.frontCards__row--last
    .frontCards__card.frontCards__card--big
      .frontCards__image
        img(src='https://source.unsplash.com/random/667x253?1' width=667 height=253)
      .frontCards__content
        .frontCards__title КЕРАМОГРАНИТ
        .frontCards__text
          | Напольная и настенная плитка#[br]
          | из керамогранита
        a.frontCards__link(href='') ПОДРОБНЕЕ
    .frontCards__card.frontCards__card--big
      .frontCards__image
        img(src='https://source.unsplash.com/random/667x253?1' width=667 height=253)
      .frontCards__content
        .frontCards__title НАСТЕННАЯ ПЛИТКА
        .frontCards__text
          | Плитка из белой глины#[br]
          | для облицовки стен
        a.frontCards__link(href='') ПОДРОБНЕЕ
