.productAnalogue
  .productAnalogue__title НАСТЕННАЯ ПЛИТКА КОЛЛЕКЦИИ CHARME
  .productAnalogue__items
    a.productAnalogue__item(href='#')
      .productAnalogue__image(style='background-image: url(https://source.unsplash.com/random/228x139?1)')
      .productAnalogue__name ДЕКОР ШАРМ
      .productAnalogue__description Декоративная плитка#[br]в стиле лофт
      .productAnalogue__price 569.–

    a.productAnalogue__item(href='#')
      .productAnalogue__image(style='background-image: url(https://source.unsplash.com/random/228x139?1)')
      .productAnalogue__name ДЕКОР ШАРМ
      .productAnalogue__description Декоративная плитка#[br]в стиле лофт
      .productAnalogue__price 569.–

