.c
  .projectSlider
    .projectSlider__thumbs
      .projectSlider__thumbs--slider
        .projectSlider__thumbs-slide(data-index='0'): img(src='https://source.unsplash.com/gREquCUXQLI/144x105' width='144' height='105')
        .projectSlider__thumbs-slide(data-index='1'): img(src='https://source.unsplash.com/jn7uVeCdf6U/144x105' width='144' height='105')
        .projectSlider__thumbs-slide(data-index='2'): img(src='https://source.unsplash.com/U-k6XLlml1I/144x105' width='144' height='105')
        .projectSlider__thumbs-slide(data-index='3'): img(src='https://source.unsplash.com/dAAk8Aqd_-I/144x105' width='144' height='105')
        .projectSlider__thumbs-slide(data-index='4'): img(src='https://source.unsplash.com/4HG3Ca3EzWw/144x105' width='144' height='105')
        .projectSlider__thumbs-slide(data-index='5'): img(src='https://source.unsplash.com/tOVmshavtoo/144x105' width='144' height='105')
        .projectSlider__thumbs-slide(data-index='6'): img(src='https://source.unsplash.com/RcdV8rnXSeE/144x105' width='144' height='105')

    .projectSlider__main
      .projectSlider__main--slider
        .projectSlider__main-slide(style='background-image: url(https://source.unsplash.com/gREquCUXQLI/955x708)')
        .projectSlider__main-slide(data-src='https://source.unsplash.com/jn7uVeCdf6U/955x708')
        .projectSlider__main-slide(data-src='https://source.unsplash.com/U-k6XLlml1I/955x708')
        .projectSlider__main-slide(data-src='https://source.unsplash.com/dAAk8Aqd_-I/955x708')
        .projectSlider__main-slide(data-src='https://source.unsplash.com/4HG3Ca3EzWw/955x708')
        .projectSlider__main-slide(data-src='https://source.unsplash.com/tOVmshavtoo/955x708')
        .projectSlider__main-slide(data-src='https://source.unsplash.com/RcdV8rnXSeE/955x708')

    .projectSlider__nav
      button.projectSlider__arrow.projectSlider__arrow--next
      button.projectSlider__arrow.projectSlider__arrow--prev

  .projectSlider__dots
    .projectSlider__dot
    .projectSlider__dot
    .projectSlider__dot
    .projectSlider__dot
    .projectSlider__dot
    .projectSlider__dot
    .projectSlider__dot