.footer
  background: #000000
  color: #fff
  padding: 100px 0 60px
  overflow: hidden
  @media (max-width: $breakpoint-md - 1)
    padding: 50px 0 24px
  &__menu
    margin-bottom: 75px
    justify-content: space-between
    position: relative
    @media (max-width: $breakpoint-md - 1)
      display: none

    &:before
      content: ''
      display: block
      position: absolute
      height: 3px
      width: 100%
      background: #ffffff
      right: 100%
      top: 6px
      margin-right: 30px

    ul
      padding: 0
      margin: 0
    li
      list-style: none
    a
      &:hover
        text-decoration: underline
    > ul
      flex: 1
      display: contents

      > li
        > a
          font-size: 20px
          font-weight: 900
          text-transform: uppercase
        > ul
          margin-top: 30px

          > li
            font-size: 14px
            margin-bottom: 20px

  &__contacts
    &-title
      font-size: 20px
      font-weight: 900
      text-transform: uppercase
      margin-bottom: 30px
    &-address
      font-size: 14px
      margin-bottom: 20px
    &-phone
      font-size: 14px
      font-weight: 500

  &__content
    justify-content: space-between
    align-items: center
    position: relative
    @media (max-width: $breakpoint-md - 1)
      flex-direction: column-reverse

  &__logo
    display: block
    @media (max-width: $breakpoint-md - 1)
      display: none
    &--small
      display: none
      @media (max-width: $breakpoint-md - 1)
        display: block
        margin-top: 49px

  &__info
    display: flex
    flex-direction: row
    align-items: center
    @media (max-width: $breakpoint-md - 1)
      display: contents
      text-align: center

  &__copyright
    font-size: 11px
    line-height: 2
    margin-left: 45px
    @media (max-width: $breakpoint-md - 1)
      margin: 32px 0 0

  &__socials
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    @media (max-width: $breakpoint-md - 1)
      margin-top: 42px

  &__social
    display: block
    margin: 0 15px

    &--vk
      background: url(../../images/sprite-vk.svg)
    &--fb
      background: url(../../images/sprite-fb.svg)
    &--inst
      background: url(../../images/sprite-inst.svg)

  &__callback
    font-size: 13px
    font-weight: bold
    text-transform: uppercase
    border: 0
    background-color: transparent
    padding: 0
    margin: 0
    cursor: pointer
    position: relative


    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      background: url(sprite-call.svg)
      margin-right: 30px

    &:after
      content: ''
      display: block
      position: absolute
      height: 3px
      width: 1000px
      background: #ffffff
      left: 100%
      top: 14px
      margin-left: 30px
      pointer-events: none