extends pug/_layout

block body
  div.page.page--front
    include modules/header/header
    include modules/frontSlider/frontSlider
    include modules/frontCards/frontCards
  //include modules/slide/slide
  //include modules/form/form
  //include modules/catalog/catalog
  //include modules/info/info
  //include modules/bullets/bullets
  //include modules/delivery/delivery
  //include modules/faq/faq
  //include modules/outpost/outpost
  //include modules/footer/footer

  //div.hidden
  //  include img/inline-sprite.svg
  //  include modules/popup/popup-callback
  //  include modules/popup/popup-request
  //  include modules/popup/popup-part
