.page
  .page__container
    .page__date 12 сентября
    h1 Improve Your Business Cards And Enhance Your Sales
    img(src='https://source.unsplash.com/random/730x420')
    h2 Заголовок 2
    p You can essentially boil the #[a(href='#') differences] between plasmas and LCDs into twelve basic points. In some areas, plasmas will win out. In other areas, LCDs will win out. In yet other areas, it will depend on your own personal taste in order to decide who wins out.
    p You can essentially boil the #[a(href='#') differences] between plasmas and LCDs into twelve basic points. In some areas, plasmas will win out. In other areas, LCDs will win out. In yet other areas, it will depend on your own personal taste in order to decide who wins out.
    h3 Заголовок 3
    p The twelve ways plasma TVs and LCD TVs differ are the following:
    h4 Заголовок 4
    ol
      li The first is a technical issue, and may seem a little boring, but it really does affect other areas. Plasmas TVs are made of chemical compounds called phosphors. LCD TVs use millions of liquid crystals.
      li The next section is related to how big the TVs are and the availability of larger sizes. You have a wider selection of larger-size TVs with plasmas (though LCDs are catching up).
      li The next section is “small size,” which is also important. Plasmas don’t come in smaller sizes, which you will need for places like the kitchen.
    h5 Заголовок 5
    p: img(src='https://source.unsplash.com/random/730x420')
    ul
      li The first is a technical issue, and may seem a little boring, but it really does affect other areas. Plasmas TVs are made of chemical compounds called phosphors. LCD TVs use millions of liquid crystals.
      li The next section is related to how big the TVs are and the availability of larger sizes. You have a wider selection of larger-size TVs with plasmas (though LCDs are catching up).
      li The next section is “small size,” which is also important. Plasmas don’t come in smaller sizes, which you will need for places like the kitchen.
    h6 Заголовок 6
