.contacts
  .contacts__title КАК НАС НАЙТИ
  .contacts__item
    .contacts__name АДРЕС
    .contacts__value Г. ПЕНЗА УЛ. ИЗМАЙЛО
  .contacts__item
    .contacts__name ТЕЛЕФОН
    .contacts__value 8 8412 45–34–22
  .contacts__item
    .contacts__name ПОЧТА
    .contacts__value HELLO@ITALON.RU
