.frontSlider
  .frontSlider__wrapper
    .frontSlider__left
      .frontSlider__content.frontSlider__content--active
        .frontSlider__subtitle Керамогранит
        .frontSlider__title GENESIS
        .frontSlider__text Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.
        .frontSlider__price 2 310.–
        a(href='#').frontSlider__more подробнее
      .frontSlider__content
        .frontSlider__subtitle Керамогранит
        .frontSlider__title GENESIS2
        .frontSlider__text
          p Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.
          p Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.
        .frontSlider__price 2 310.–
        a(href='#').frontSlider__more подробнее
      .frontSlider__content
        .frontSlider__subtitle Керамогранит
        .frontSlider__title GENESIS3
        .frontSlider__text Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.
        .frontSlider__price 2 310.–
        a(href='#').frontSlider__more подробнее

    .frontSlider__right
      img.frontSlider__image.frontSlider__image--active(style='background-image: url(https://source.unsplash.com/random?1)')
      img.frontSlider__image(data-src='https://source.unsplash.com/random?2')
      img.frontSlider__image(data-src='https://source.unsplash.com/random?3')

  button.frontSlider__prev
  button.frontSlider__next

  .frontSlider__dots
    button.frontSlider__dot.frontSlider__dot--active
    button.frontSlider__dot
    button.frontSlider__dot